<%= form_for(@term, :url => {:action => 'update'}) do |t| %>
  <div class="form-group">
    <%= t.label 'English Term' %>
    <%= t.text_field "term_en", readonly: true %>
  </div>
  <div class="form-group">
    <%= t.label 'English Field' %>
    <%= t.text_field "ac_field_en", readonly: true %>
  </div>
  <div class="form-group">
    <%= t.label 'English Definition' %><br>
    <%= t.text_area "definition_en", readonly: true %>
  </div>
  <div class="form-group">
    <%= t.label 'English Context' %><br>
    <%= t.text_area "context_en", readonly: true %>
  </div>
  <div class="form-group">
    <%= t.label 'Arabic Term' %>
    <%= t.text_field "term_ar" %>
  </div>
  <div class="form-group">
    <%= t.label 'Arabic Field' %>
    <%= t.text_field "ac_field_ar" %>
  </div>
  <div class="form-group">
    <%= t.label 'Arabic Definition' %><br>
    <%= t.text_area "definition_ar" %>
  </div>
  <div class="form-group">
    <%= t.label 'Arabic Context' %><br>
    <%= t.text_area "context_ar" %>
  </div>
  <%= t.submit "Submit" %>
<% end %>
