<a href='/'>Back to Search</a>
<h2>Search Results</h2>
<% if @terms.size == 0 %>
  <h2>No results for '<%=@searched_term%>' <a href="/terms/new">Add a new term</a></h2>
<% else %>
  <% @term_titles.each do |title| %>
    <div class="card">
      <div class="card-block">
        <h2 class="card-header"><%= title %></h2>
        <% @terms.where(term_en: title).each do |term| %>
          <h5 class="card-title"><%= @fields.find(term.field_id).name %></h5>
          <% if term.answers.length == 0 %>
            <p class="card-text">No answers for this term yet.</p>
          <% else %>
            <p class="card-text col-sm-10"><%= term.answers[0].definition %></p>
          <% end %>
          <p class="card-text col-sm-2"><a href="terms/<%=term.id%>">More</a></p>
        <% end %>
        <%= link_to "Add a new definition", new_term_path(term_en: title) %>
      </div>
    </div>
  <% end %>
<% end %>
