<div class="results-page">
  <a href='/'>&lt; Back to search</a>
  <% if @terms.size == 0 %>
    <div class="isolated-msg">
      No results for '<%=@searched_term%>'.<br />
      <a href="/terms/new">Add a new term</a>
    </div>
  <% else %>
    <% @term_titles.each do |title| %>
      <div class="row result-card">
        <div class="col-md-2 col-sm-12 result-term"><%= title %></div>
        <div class="col-md-10 col-sm-12">
        <% @terms.where(term_en: title).each do |term| %>
          <div class="row result-line">
            <div class="col-sm-3 result-field"><span> <a href="terms?term_en=&field_id=<%= term.field.id %>"><%= @fields.find(term.field_id).name %></a></span></div>
            <% if no_answers?(term) %>
              <div class="col-sm-8 text-right no-term">No answers for this term yet.</div>
            <% else %>
              <div class="col-sm-8 result-ar"><%= term.answers.order("score DESC").first.definition_ar %></div>
            <% end %>
            <div class="col-sm-1 result-link"><a href="terms/<%=term.id%>">More</a></div>
          </div>
        <% end %>
        <%= link_to "Add new field", new_term_path(term_en: title), :class => "new-result-term" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
