<a href="#" onclick="history.go(-1)">Back to search results</a>
<table>
  <tbody>
    <tr>
      <td><%= @term.term_en %></td>
    </tr>
    <tr>
      <td><%= @fields.find(@term.field_id).name %></td>
    </tr>
    <tr>
      <td><%= @term.context_en %></td>
    </tr>
    <% @answers.each do |answer| %>
    <tr>
      <td><%= answer.definition %>
        submitted by <%=User.find(answer.user_id).email%>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<%= form_for([@term, @term.answers.build]) do |f| %>

  <p>
    <%= f.label :definition %><br>
    <%= f.text_area :definition %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
