<div class="results-page">
  <a href="/terms?term_en=<%= @term.term_en %>">&lt; Back to results</a>
  <div class="term-card">
    <div class="term-header">
      <span class="term-title"><%= @term.term_en %></span>
      <%if @term.context_en %>
      <span>Context: <%= @term.context_en %></span>
      <%end %>
      <span class="term-field"><%= @fields.find(@term.field_id).name %></span>
    </div>
    <ul class="list-group list-group-flush">
      <% @answers.each do |answer| %>
        <li class="list-group-item clearfix">
          <div class="col-xs-2 feedback">
            <% if user_signed_in? && current_user.has_upvoted?(answer) %>
              <%= form_for([@term, answer, answer.upvotes.build]) do |f| %>
                <%= f.submit value: "", class:"upvoted upvote" %>
              <% end %>
              <div class="score"><%= answer.score %></div>
              <%= form_for([@term, answer, answer.upvotes.find_by(user_id: current_user.id, answer_id: answer.id)], method: 'delete') do |f| %>
                <%= f.submit value: "", class:"downvote" %>
              <% end %>
            <% elsif user_signed_in? && current_user.has_downvoted?(answer) %>
              <%= form_for([@term, answer, answer.downvotes.find_by(user_id: current_user.id, answer_id: answer.id)], method: 'delete') do |f| %>
                <%= f.submit value: "", class:"upvote" %>
              <% end %>
              <div class="score"><%= answer.score %></div>
              <%= form_for([@term, answer, answer.downvotes.build]) do |f| %>
                <%= f.submit value: "", class:"downvoted downvote" %>
              <% end %>
            <% else %>
              <%= form_for([@term, answer, answer.upvotes.build]) do |f| %>
                <%= f.submit value: "", class:"upvote" %>
              <% end %>
              <div class="score"><%= answer.score %></div>
              <%= form_for([@term, answer, answer.downvotes.build]) do |f| %>
                <%= f.submit value: "", class:"downvote" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-xs-10 term-ar">
            <%if answer.term_ar_match %>
            <span class="term-label">Arabic direct translation</span>
            <span class="term-text"><%= answer.term_ar_match %></span>
            <%end %>
            <span class="term-label">Arabic full answer</span>
            <span class="term-text"><%= answer.definition %></span>
            <%if answer.context_en %>
            <span class="term-label">English term in context</span>
            <span class="term-text"><%= answer.context_en %></span>
            <%end %>
            <%if answer.context_ar %>
            <span class="term-label">Arabic term in context</span>
            <span class="term-text"><%= answer.context_ar %></span>
            <%end %>
            <%if answer.ref_url %>
            <span class="term-label">Reference</span>
            <a href=<%= answer.ref_url %><span class="term-text"><%= answer.ref_url %></span></a>
            <%end %>

            <div>
              <% if user_signed_in? && current_user.has_flagged?(answer) %>
                <%= form_for([@term, @answers.find(answer.id), answer.flags.find_by(user_id: current_user.id, answer_id: answer.id)], method: 'delete') do |f| %>
                  <%= f.submit value:"Unflag", class:"flag" %>
                  <small class="text-muted">submitted by <%=User.find(answer.user_id).email%></small>
                <% end %>
              <% else %>
                <%= form_for([@term, @answers.find(answer.id), answer.flags.build]) do |f| %>
                  <%= f.submit value:"Flag", class:"flag" %>
                  <small class="text-muted">submitted by <%=User.find(answer.user_id).email%></small>
                <% end %>
              <% end %>
            </div>
            <div>
              <% if user_signed_in? && answer.user_id == current_user.id %>
                <%= link_to 'edit', edit_term_answer_path(@term, answer) %>
                <%= link_to 'delete', term_answer_path(@term, answer), method: 'delete' %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="term-create-block">
    <% if user_signed_in? %>
      <%= form_for([@term, @term.answers.build]) do |f| %>
        <p>
          <%= f.label :definition, "Add a new answer" %><br>
          <%= f.text_area :definition, required: true %>
          <p class="field">
            <%= f.label :term_ar_match, "Enter the direct Arabic translation if there is one (optional):" %><br>
            <%= f.text_field :term_ar_match, value: params[:term_ar_match], required: false %>
          </p>
          <p class="field">
            <%= f.label :context_en, "Enter context in English (optional):" %><br>
            <%= f.text_field :context_en, value: params[:context_en], required: false %>
          </p>
          <p class="field">
            <%= f.label :context_ar, "Enter context in Arabic (optional):" %><br>
            <%= f.text_field :context_ar, value: params[:context_ar], required: false %>
          </p>
          <p class="field">
            <%= f.label :ref_url, "Enter a reference URL (optional):" %><br>
            <%= f.text_field :ref_url, value: params[:ref_url], required: false %>
          </p>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
    <% else %>
      <a href="../users/sign_in">Sign in</a> to add a definition
    <% end %>
  </div>
</div>
