<table>
  <tbody>
    <tr>
      <td><%= @term.term_en %></td>
      <td><%= @term.term_ar %></td>
    </tr>
    <tr>
      <td><%= @term.ac_field_en %></td>
      <td><%= @term.ac_field_ar %></td>
    </tr>
    <tr>
      <td><%= @term.definition_en %></td>
      <td><%= @term.definition_ar %></td>
    </tr>
    <tr>
      <td><%= @term.context_en %></td>
      <td><%= @term.context_ar %></td>
    </tr>
  </tbody>
</table>
