<div class="container-fluid text-center alt-theme hero-form-wrap">

  <!-- <%= form_tag terms_path, method: 'get', class: "form-group", id: "term_search"  do %>
    <div class="form-group">
      <%= label_tag :term_en, "Translate" %>
      <%= text_field_tag(:term_en, "", placeholder: " anything", autofocus: true, id: "term-search") %>
    </div>
    <div class="form-group">
      <%= label_tag :field_id, "in" %>
      <%= collection_select :field, :id, @fields, :id, :name, {include_blank: 'all fields'}, class: "form-control input-sm", id: "field-search", name: "field_id" %>
    </div>
    <%= submit_tag "Search", :name => nil %>
  <% end %> -->

  <form role="form" action="/terms" method="get" id="term_search" class="form-inline">
    <div class="form-group">
      <label for="term-search">Translate</label>
      <input type="text" name="term_en" placeholder=" anything" id="term-search" autofocus/>
    </div>
    <div class="form-group">
      <label for="field-search">in</label>
      <select class="form-control input-sm" name ="field_id" form="term_search" id="field-search">
          <option value="" disabled selected>all fields</option>
          <% @fields.each do |field| %>
            <option value="<%= field.id %>"><%= field.name %></option>
          <% end %>
      </select>
    </div>
    <input type="submit" value="Search">
  </form>

</div>
