<!DOCTYPE html>
<html>
<head>
  <title>Vocapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
  <script src="jquery-1.12.4.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar" id="homepage-<%=on_hompage?%>">
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <a class="navbar-brand" href="/">VocApp</a>
    <% unless current_page?('/') %>
      <div class="navbar-search collapse navbar-toggleable-md">
        <%= form_tag terms_path, method: 'get' do %>
          <% if params[:term_en] %>
            <%= label_tag :term_en, "Translating" %>
          <% else %>
            <%= label_tag :term_en, "Translate" %>
          <% end %>
          <%= text_field_tag(:term_en, params[:term_en], placeholder: " anything") %>
          <%= label_tag :field_id, "in" %>
          <%= select_tag :field_id, content_tag(:option,'all fields',:value=>"") + options_from_collection_for_select(Field.all, :id, :name, params[:field_id]) %>
          <%= submit_tag "", :name => nil %>
        <% end %>
      </div>
    <% end %>
    <div class="collapse navbar-toggleable-xs pull-sm-right" id="navbar">
      <ul class="nav navbar-nav">
        <% if user_signed_in? && current_user.admin?%>
          <li class="nav-item">
            <%= link_to "Flags", flags_path, :class => 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "About", pages_about_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", pages_help_path, :class => 'nav-link' %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item nav-item-alt">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item nav-item-alt">
            <%= link_to "Log in", new_user_session_path, :class => 'nav-link'  %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice unless notice.blank? %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert unless notice.blank? %></p>
  <% end %>

  <%= yield %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
  </body>
</html>
